<form action="{% url 'map_gen:new_event_confirmation' %}" method="post">
{% csrf_token %}
    <fieldset>
        <legend><h2>Create a mappable incident or event:</h2></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="username">SSO Username</label>
        <input type="text" id="creator_id_input" name="creator_id_input"><br><br>
        <label for="eventname">Name of event or incident:</label>
        <input type="text" id="event_name_input" name="event_name_input"><br><br>
        <label for="eventtype">Type of event:</label>
        <input type="text" id="type_input" name="type_input"><br><br>
    </fieldset>
<input type="submit" value="Confirm New Event">
</form>